/* section one style */
.first-section{
  display: flex;
  background-color: rgb(102, 102, 221);
  padding: 100px;
  
}
.first-heading{
  font-size: 80px;
  color: white;
  font-weight: 900;
  margin-top: 200px;
}
.first-banner img{
  
  width: 100%;
}
.first-banner:hover img{
  transform: scale(1.3);
}
.first-banner:hover img{
  transition: transform 2s ease-in;
}
.watch-live{
  font-size: 30px;
  color:whitesmoke;
  background-color: rgb(235, 62, 62);
  text-decoration: none;
  padding: 15px 30px;

}

/* player style  */
/* .naymer img{
  
  
  width:100%;
  
}
.naymer{
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 20px;
  background-color: rgb(236, 234, 231);
  
}
.second-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
#naymer-one{
  width: 330px;
  height: 474px;
}
#naymer-two{
  width: 330px;
  height: 474px;
}
#naymer-three{
  width: 330px;
  height: 474px;
} */
.second-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.photo-album{
  
}
.photo-frame{
  width: 330px;
  height: 474px;
  background-color: whitesmoke;
  padding: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.photo img{
  width: 100%;
}